{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="description" content="">
		<meta name="author" content="">

		<!-- Title -->
		<title>{% block title %}OpenMarathon{% endblock %}</title>

		<!-- Vendor CSS -->
		<link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'vendor/themify-icons/themify-icons.css' %}">
		<link rel="stylesheet" href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}">
        {% block css %}{% endblock %}

        <!-- Neptune CSS -->
		<link rel="stylesheet" href="{% static 'css/core.css' %}">

		<!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body class="{% block body_css %}{% endblock %}">
        {% block body %} {% endblock %}
        <!-- Vendor JS -->
		<script type="text/javascript" src="{% static 'vendor/jquery/jquery-1.12.3.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'vendor/tether/js/tether.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
        {% block js %} {% endblock %}
	</body>
</html>