{% extends 'dashboard.html' %}
{% load static %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'vendor/DataTables/css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/DataTables/Responsive/css/responsive.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/DataTables/Buttons/css/buttons.dataTables.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/DataTables/Buttons/css/buttons.bootstrap4.min.css' %}">
{% endblock %}

{% block content %}
    {{ block.super }}
    <div class="box box-block bg-white">
        <h2 class="h-underline h-underline-100 h-underline-primary">{% block table_title %}{% endblock %}</h2>
        <table class="table table-striped table-bordered dataTable" id="table">
            <thead>
            {% block thead %}{% endblock %}
            </thead>
            <tbody>
            {% block tbody %}{% endblock %}
            </tbody>
            <tfoot>
            {% block tfoot %}{% endblock %}
            </tfoot>
        </table>
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'vendor/DataTables/js/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/DataTables/js/dataTables.bootstrap4.min.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'vendor/DataTables/Responsive/js/dataTables.responsive.min.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'vendor/DataTables/Responsive/js/responsive.bootstrap4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/DataTables/Buttons/js/dataTables.buttons.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/DataTables/Buttons/js/buttons.bootstrap4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/DataTables/JSZip/jszip.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/DataTables/pdfmake/build/pdfmake.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/DataTables/pdfmake/build/vfs_fonts.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/DataTables/Buttons/js/buttons.html5.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/DataTables/Buttons/js/buttons.print.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/DataTables/Buttons/js/buttons.colVis.min.js' %}"></script>

    <script type="application/javascript">
        $('#table').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copyHtml5',
                'excelHtml5',
                'csvHtml5',
                'pdfHtml5'
            ]
        });
    </script>
{% endblock %}
