{% load forms_tags %}
<div class="box box-block bg-white">
    {% if show_form_title %}
        <h4>{{ titulo }}</h4>
        {% if subtitle %}
            <h6>{{ subtitle }}</h6>
        {% endif %}
        <hr>
    {% endif %}
    <form enctype="multipart/form-data" method="POST" class="{{ form.classes }}" id="{{ form.id }}"
          {% if form.action %}action="{{ form.action }}"{% endif %}>
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group {% if field.errors %}has-danger{% endif %}">
                <label for="{{ field.auto_id }}">{{ field.label }}</label>
                {{ field | classes:'form-control' }}
                {% if field.errors %}
                    {% for error in field.errors %}
                        <div class="form-control-feedback">{{ error }}</div>
                    {% endfor %}
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
    {{ form.media }}
</div>