{% extends 'base.html' %}
{% load i18n %}
{% block body_css %}auth-bg{% endblock %}
{% block body %}
<div class="auth">
    <div class="auth-header">
        <h1>OpenMarathon</h1>
    </div>
    <div class="container-fluid">
        <div class="row">
            <h1 class="text-xs-center">{% trans "Thanks for spending some quality time with the Web site today." %}</h1>

            <p class="text-xs-center"><a href="{% url 'login' %}">{% trans 'Log in again' %}</a></p>
        </div>
    </div>
</div>
{% endblock %}
