{% extends 'base.html' %}
{% load i18n forms_tags %}

{% block body_css %}auth-bg{% endblock %}
{% block body %}
    <div class="auth">
        <div class="auth-header">
            <h1>OpenMarathon</h1>
            <h6>¡Bienvenido! Identifíquese para acceder al sistema</h6>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 offset-md-4">
                    <form action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}
                        <div class="form-group">
                            <div class="input-group">
                                {{ form.username|classes:'form-control' }}
                                <div class="input-group-addon"><i class="ti-user"></i></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                {{ form.password|classes:'form-control' }}
                                <div class="input-group-addon"><i class="ti-key"></i></div>
                                <input type="hidden" name="next" value="{{ next }}" />
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-danger btn-block">{% trans 'Log in' %}</button>
                        </div>
                    </form>
{#                    <div class="row">#}
{#                        <div class="col-xs-12">#}
{#                            <button type="button" class="btn bg-google btn-block label-left m-b-0-25">#}
{#                                <span class="btn-label"><i class="ti-google"></i></span>#}
{#                                Google#}
{#                            </button>#}
{#                        </div>#}
{#                    </div>#}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
