{% extends 'datatable_shell.html' %}

{% block thead %}
    <tr>
        <th>N°</th>
        <th>Legajo</th>
        <th>Período</th>
        <th>Fecha de débito</th>
        <th>Fecha de pago</th>
    </tr>

{% endblock %}

{% block tbody %}
    {% for c in object_list %}
        <tr>
            <td>
            <a href="{% url 'Comercial:cuotas:update' c.id %}">{{ c.id }}</a>
            </td>
            <td>
                {{ c.legajo.atleta }}
            </td>
            <td class="error">{{ c.periodo }}</td>
            <td>{{ c.fecha }}</td>
            <td>{{ c.fecha_pago | default_if_none:'n/d' }}</td>
        </tr>
    {% endfor %}
{% endblock %}

{% block tfoot %}
    <tr>
        <th>N°</th>
        <th>Legajo</th>
        <th>Período</th>
        <th>Fecha de débito</th>
        <th>Fecha de pago</th>
    </tr>
{% endblock %}