{% extends 'datatable_shell.html' %}
{% load static %}

{% block content %}
    <div class="box box-block bg-white">
        <h2 class="h-underline h-underline-100 h-underline-primary">{{ titulo }}
            <small class="text-muted"><a href="{% url 'Comercial:legajos:update' object.id %}"> editar </a></small>
        </h2>
        {% if subtitle %}
            <h6>{{ subtitle }}</h6>
        {% endif %}
        <div class="row">
            <div class="col-sm-12 col-md-3">
                {% with atleta=object.atleta %}
                    {% include 'perfil_atleta.html' %}
                {% endwith %}
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="box box-block bg-white">
                    <h5>Detalles:</h5>

                    <div class="clearfix m-b-0-25">
                        <span class="pull-xs-left"><strong>Con deuda:</strong></span>
                        <span class="pull-xs-right">{{ object.con_deuda | yesno | upper }}</span>
                    </div>
                    <div class="clearfix m-b-0-25">
                        <span class="pull-xs-left"><strong>Activo:</strong></span>
                        <span class="pull-xs-right">{{ object.activo | yesno | upper }}</span>
                    </div>
                    <div class="clearfix m-b-0-25">
                        <span class="pull-xs-left"><strong>Becado:</strong></span>
                        <span class="pull-xs-right">{{ object.becado | yesno | upper }}</span>
                    </div>
                    <div class="clearfix m-b-0-25">
                        <span class="pull-xs-left"><strong>Fecha de inscripción:</strong></span>
                        <span class="pull-xs-right">{{ object.fecha_inscripcion }}</span>
                    </div>
                    <div class="clearfix m-b-0-25">
                        <span class="pull-xs-left"><strong>Talle:</strong></span>
                        <span class="pull-xs-right">{{ object.get_talle_display }}</span>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-12">
                {{ block.super }} <!--Call to fucking table-->
            </div>
        </div>
    </div>
{% endblock %}

{% block table_title %}Cuotas{% endblock %}


{% block thead %}
    <tr>
        <th>N°</th>
        <th>Legajo</th>
        <th>Período</th>
        <th>Fecha de débito</th>
        <th>Fecha de pago</th>
    </tr>

{% endblock %}

{% block tbody %}
    {% for cuota in object.cuota_set.all %}
        <tr>
            <td><a href="{% url 'Comercial:cuotas:update' cuota.id %}" class="btn btn-outline-primary">{{ cuota.id }}</a></td>
            <td>
                {{ cuota.legajo.atleta }}
            </td>
            <td class="error">{{ cuota.periodo }}</td>
            <td>{{ cuota.fecha }}</td>
            <td>{{ cuota.fecha_pago | default_if_none:'IMPAGA' }}</td>
        </tr>
    {% endfor %}
{% endblock %}

{% block tfoot %}
    <tr>
        <th>N°</th>
        <th>Legajo</th>
        <th>Período</th>
        <th>Fecha de débito</th>
        <th>Fecha de pago</th>
    </tr>
{% endblock %}