{% extends 'datatable_shell.html' %}

{% block table_title %}
Legajos comerciales
{% endblock %}

{% block thead %}
    <tr>
        <th>N° leg</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>F. Inscripción</th>
        <th>Activo</th>
        <th>Becado</th>
        <th>Con deuda</th>
        <th>Talle remera</th>
    </tr>
{% endblock %}

{% block tbody %}
    {% for legajo in object_list %}
        <tr>
            <td><a href="{{ legajo.get_absolute_url }}" class="btn btn-outline-primary">{{ legajo.id }}</a></td>
            <td>{{ legajo.atleta.nombre }}</td>
            <td>{{ legajo.atleta.apellido }}</td>
            <td>{{ legajo.fecha_inscripcion }}</td>
            <td>{{ legajo.activo | yesno }}</td>
            <td>{{ legajo.becado | yesno }}</td>
            <td>{{ legajo.con_deuda | yesno }}</td>
            <td>{{ legajo.get_talle_display | default_if_none:'n/d' }}</td>
        </tr>
    {% endfor %}
{% endblock %}

{% block tfoot %}
    <tr>
        <th>N° leg</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>F. Inscripción</th>
        <th>Activo</th>
        <th>Becado</th>
        <th>Con deuda</th>
        <th>Talle remera</th>
    </tr>
{% endblock %}