{% extends 'base.html' %}
{% load i18n static %}


{% block css %}
    <link rel="stylesheet" href="{% static 'vendor/animate.css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/jscrollpane/jquery.jscrollpane.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/waves/waves.min.css' %}">
{% endblock %}
{% block body_css %}large-sidebar fixed-sidebar fixed-header content-appear{% endblock %}
{% block body %}
    <body class="large-sidebar fixed-sidebar fixed-header content-appear">
    <div class="wrapper">

        <!-- Sidebar -->
        <div class="site-sidebar-overlay"></div>
        <div class="site-sidebar">
            <a class="logo" href="{% url 'home' %}">
                <span class="l-text">OpenMarathon</span>
            </a>
            <div class="custom-scroll custom-scroll-light">
                <ul class="sidebar-menu">
                    <li class="menu-title m-t-0-5">Aplicaciones</li>
                    <li class="with-sub">
                        <a href="#" class="waves-effect  waves-light">
                            <span class="s-caret"><i class="fa fa-angle-down"></i></span>
                            <span class="s-icon"><i class="ti-cup"></i></span>
                            <span class="s-text">Entreno</span>
                        </a>
                        <ul>
                            <li><a href="{% url 'Entreno:atletas:list' %}">Todos los atletas</a></li>
                            <li><a href="{% url 'Entreno:atletas:add' %}">Nuevo atleta</a></li>
                        </ul>
                    </li>
                    <li class="with-sub">
                        <a href="#" class="waves-effect  waves-light">
                            <span class="s-caret"><i class="fa fa-angle-down"></i></span>
                            <span class="s-icon"><i class="ti-money"></i></span>
                            <span class="s-text">Comercial</span>
                        </a>
                        <ul>
                            <li><a href="{% url 'Comercial:legajos:list' %}">Legajos</a></li>
                            <li><a href="{% url 'Comercial:cuotas:impagas' %}">Cuotas impagas</a></li>
                        </ul>
                    </li>
                    <li class="with-sub">
                        <a href="#" class="waves-effect  waves-light">
                            <span class="s-caret"><i class="fa fa-angle-down"></i></span>
                            <span class="s-icon"><i class="ti-money"></i></span>
                            <span class="s-text">Salud</span>
                        </a>
                        <ul>
                            <li><a href="{% url 'Salud:legajos:list' %}">Legajos</a></li>
                        </ul>
                    </li>
                    {% if request.user.is_staff %}
                        <li>
                            <a href="{% url 'admin:index' %}" class="waves-effect  waves-light">
                                <span class="s-icon"><i class="ti-dashboard"></i></span>
                                <span class="s-text">Admin</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>

        <!-- Header -->
        <div class="site-header">
            <nav class="navbar navbar-light">
                <ul class="nav navbar-nav">
                    <li class="nav-item m-r-1 hidden-lg-up">
                        <a class="nav-link collapse-button" href="#">
                            <i class="ti-menu"></i>
                        </a>
                    </li>
                </ul>

                <div class="navbar-toggleable-sm collapse" id="collapse-1">
                    <ul class="nav navbar-nav pull-md-right">
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="#" data-toggle="dropdown" aria-expanded="false">
                                <i class="ti-user"></i> {{ user }}
                            </a>
                            <div class="dropdown-menu dropdown-menu-right animated flipInY">
                                <a class="dropdown-item" href="{% url 'logout' %}">
                                    <i class="ti-power-off m-r-0-5"></i> {% trans 'Log out' %}
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <div class="site-content">
            <!-- Content -->
            <div class="content-area p-y-1">
                <div class="container-fluid">
                    {% block content %}

                    {% endblock %}
                </div>
            </div>
            <!-- Footer -->
            <footer class="footer">
                <div class="container-fluid">
                    <a href="https://www.edwinabot.com">2018 Edwin A. Abot</a>
                </div>
            </footer>
        </div>

    </div>
{% endblock %}
{% block js %}
    <script type="text/javascript" src="{% static 'vendor/detectmobilebrowser/detectmobilebrowser.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/jscrollpane/jquery.mousewheel.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/jscrollpane/mwheelIntent.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/jscrollpane/jquery.jscrollpane.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/waves/waves.min.js' %}"></script>
    <!-- Neptune JS -->
    <script type="text/javascript" src="{% static 'js/app.js' %}"></script>
{% endblock %}
