{% extends 'datatable_shell.html' %}

{% block table_title %}
Miembros del equipo
{% endblock %}

{% block thead %}
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Legajo comercial</th>
        <th>Legajo de salud</th>
    </tr>
{% endblock %}

{% block tbody %}
    {% for atleta in object_list %}
        <tr>
            <td><a href="{{ atleta.get_absolute_url }}" class="btn btn-outline-primary">{{ atleta.id }}</a></td>
            <td>{{ atleta.nombre }}</td>
            <td>{{ atleta.apellido }}</td>
            <td><a href="{{ atleta.legajocomercial.get_absolute_url }}"><i class="fa fa-money"></i> Comercial</a></td>
            <td><a href="{{ atleta.legajosalud.get_absolute_url }}"><i class="fa  fa-heartbeat"></i> Salud</a></td>
        </tr>
    {% endfor %}
{% endblock %}

{% block tfoot %}
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Legajo comercial</th>
        <th>Legajo de salud</th>
    </tr>
{% endblock %}