{% extends 'datatable_shell.html' %}

{% block table_title %}
    Todos los atletas
{% endblock %}

{% block thead %}
    <tr>
        <th>N° leg</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>DNI</th>
        <th>F. Nac.</th>
        <th>Domicilio</th>
        <th>T. Personal</th>
        <th>T. Referencia</th>
        <th>E-Mail</th>
    </tr>

{% endblock %}

{% block tbody %}
    {% for atleta in object_list %}
        <tr>
            <td><a href="{{ atleta.get_absolute_url }}" class="btn btn-outline-primary">{{ atleta.id }}</a></td>
            <td>{{ atleta.nombre }}</td>
            <td>{{ atleta.apellido }}</td>
            <td>{{ atleta.dni }}</td>
            <td>{{ atleta.fecha_nacimiento }}</td>
            <td>{{ atleta.domicilio }}</td>
            <td>{{ atleta.telefono_personal }}</td>
            <td>{{ atleta.telefono_referencia }}</td>
            <td>{{ atleta.email }}</td>
        </tr>
    {% endfor %}
{% endblock %}

{% block tfoot %}
    <tr>
        <th>N° leg</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>F. Nac.</th>
        <th>Domicilio</th>
        <th>T. Personal</th>
        <th>T. Referencia</th>
        <th>E-Mail</th>
    </tr>
{% endblock %}