{% extends 'dashboard.html' %}
{% load static %}

{% block content %}
    <div class="box box-block bg-white">
        <h2 class="h-underline h-underline-100 h-underline-primary">{{ titulo }}
            <small class="text-muted"><a href="{% url 'Entreno:atletas:update' object.id %}"> editar </a></small>
        </h2>
        {% if subtitle %}
            <h6>{{ subtitle }}</h6>
        {% endif %}
        <div class="row">
            <div class="col-sm-12 col-md-3">
                {% with atleta=object %}
                    {% include 'perfil_atleta.html' %}
                {% endwith %}
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="box box-block bg-white">
                    <h5>Detalles:</h5>
                    <div class="clearfix m-b-0-25">
                        <span class="pull-xs-left"><strong>DNI:</strong></span>
                        <span class="pull-xs-right">{{ object.dni }}</span>
                    </div>
                    <div class="clearfix m-b-0-25">
                        <span class="pull-xs-left"><strong>Fecha de nacimiento:</strong></span>
                        <span class="pull-xs-right">{{ object.fecha_nacimiento }}</span>
                    </div>
                    <div class="clearfix m-b-0-25">
                        <span class="pull-xs-left"><strong>Teléfono de referencia:</strong></span>
                        <span class="pull-xs-right">{{ object.telefono_referencia }}</span>
                    </div>
                    <div class="clearfix m-b-0-25">
                        <span class="pull-xs-left"><strong>Fecha de inicio de actividad:</strong></span>
                        <span class="pull-xs-right">{{ object.fecha_inicio_actividad }}</span>
                    </div>
                    <div class="clearfix m-b-0-25">
                        <span class="pull-xs-left"><strong>Observaciones:</strong></span>
                        <span class="pull-xs-right">{{ object.observaciones }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}