{% load static %}
<div class="card profile-card">
    <div class="profile-avatar">
        {% if atleta.foto %}
            <img src="{{ atleta.foto.url }}" alt="">
        {% else %}
            <img src="{% static 'img/user.svg' %}" alt="">
        {% endif %}
    </div>
    <div class="card-block">
        <h4 class="m-b-0-25">{{ atleta.nombre }} {{ atleta.apellido }}</h4>

    </div>
    <ul class="list-group">
        {% if atleta.telefono_personal %}
            <a class="list-group-item" href="tel:+{{ atleta.telefono_personal }}">
                <i class="ti-mobile m-r-0-5"></i>{{ atleta.telefono_personal }}
            </a>
        {% endif %}

        {% if  atleta.email %}
            <a class="list-group-item" href="mailto:{{ atleta.email }}">
                <i class="ti-email m-r-0-5"></i>{{ atleta.email }}
            </a>
        {% endif %}
    </ul>
</div>