{% extends 'dashboard.html' %}
{% load static %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'vendor/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}">
{% endblock %}

{% block content %}
    <div class="box box-block bg-white">
        <h2 class="h-underline h-underline-100 h-underline-primary">{{ titulo }}
            <small class="text-muted"><a href="{% url 'Salud:legajos:detail' view.get_legajo.id %}"> ver </a></small>
        </h2>
        <div class="row">
            <div class="col-sm-12 col-md-3">
                {% with atleta=object.legajo.atleta %}
                    {% include 'perfil_atleta.html' %}
                {% endwith %}
            </div>
            <div class="col-sm-12 col-md-5">
                {% include 'form_generico.html' %}
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/bootstrap-datepicker/js/locales/bootstrap-datepicker.es.js' %}"></script>
    <script type="application/javascript">
        let datepicker_conf = {
            language: 'es',
            autoclose: true,
		    todayHighlight: true
        };
        $('#id_fecha_presentado').datepicker(datepicker_conf);
        $('#id_fecha_vencimiento').datepicker(datepicker_conf);
    </script>
{% endblock %}