{% extends 'dashboard.html' %}
{% load static %}

{% block content %}
    <div class="box box-block bg-white">
        <h2 class="h-underline h-underline-100 h-underline-primary">{{ titulo }}
            <small class="text-muted"><a href="{% url 'Salud:legajos:detail' object.id %}"> ver </a></small>
        </h2>
        <div class="row">
            <div class="col-sm-12 col-md-3">
                {% with atleta=object.atleta %}
                    {% include 'perfil_atleta.html' %}
                {% endwith %}
            </div>
            <div class="col-sm-12 col-md-5">
                {% include 'form_generico.html' %}
            </div>
        </div>
    </div>
{% endblock %}
