{% extends 'datatable_shell.html' %}
{% load static %}

{% block content %}
    <div class="box box-block bg-white">
        <h2 class="h-underline h-underline-100 h-underline-primary">{{ titulo }}
            <small class="text-muted"><a href="{% url 'Salud:legajos:update' object.id %}"> editar </a></small>
        </h2>
        {% if subtitle %}
            <h6>{{ subtitle }}</h6>
        {% endif %}
        <div class="row">
            <div class="col-sm-12 col-md-3">
                {% with atleta=object.atleta %}
                    {% include 'perfil_atleta.html' %}
                {% endwith %}
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="box box-block bg-white">
                    <h5>Detalles:</h5>
                    <div class="clearfix m-b-0-25">
                        <span class="pull-xs-left"><strong>Deslinde:</strong></span>
                        <span class="pull-xs-right">{{ object.deslinde | yesno | upper }}</span>
                    </div>
                    <div class="clearfix m-b-0-25">
                        <span class="pull-xs-left"><strong>Factor sanguíneo:</strong></span>
                        <span class="pull-xs-right">{{ object.get_factor_sanguineo_display }}</span>
                    </div>
                    <div class="clearfix m-b-0-25">
                        <span class="pull-xs-left"><strong>Factores riesgo:</strong></span>
                        <span class="pull-xs-right">
                        <ul>
                        {% for foo in object.factores_riesgo.all %}
                            <li>{{ foo }}</li>
                        {% endfor %}
                        </ul>
                    </span>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-12">
                {{ block.super }} <!--Call to fucking table-->
            </div>
        </div>
    </div>
{% endblock %}

{% block table_title %}Aptos físicos
    <small class="text-muted"><a href="{% url 'Salud:aptos_fisicos:create' object.id %}"> nuevo </a>
    </small>{% endblock %}

{% block thead %}
    <tr>
        <th>ID</th>
        <th>Fecha vencimiento</th>
        <th>Fecha presentado</th>
    </tr>
{% endblock %}

{% block tbody %}
    {% for apto in object.aptofisico_set.all %}
        <tr>
            <td><a href="{% url 'Salud:aptos_fisicos:update' apto.id %}"
                   class="btn btn-outline-primary">{{ apto.id }}</a></td>
            <td>{{ apto.fecha_vencimiento }}</td>
            <td>{{ apto.fecha_presentado }}</td>
        </tr>
    {% endfor %}
{% endblock %}