{% extends 'datatable_shell.html' %}

{% block table_title %}
    Todos los legajos
{% endblock %}

{% block thead %}
    <tr>
        <th>N° leg</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Deslinde</th>
        <th>Apto físico vigente</th>
        <th>Factor sanguíneo</th>
        <th>Factores riesgo</th>
    </tr>
{% endblock %}

{% block tbody %}
    {% for legajo in object_list %}
        <tr>
            <td><a href="{{ legajo.get_absolute_url }}" class="btn btn-outline-primary">{{ legajo.id }}</a></td>
            <td>{{ legajo.atleta.nombre }}</td>
            <td>{{ legajo.atleta.apellido }}</td>
            <td>{{ legajo.deslinde | yesno }}</td>
            <td>{{ legajo.tiene_certificado_vigente | yesno }}</td>
            <td>{{ legajo.get_factor_sanguineo_display | default_if_none:'n/d' }}</td>
            <td>
                {% for foo in legajo.factores_riesgo.all %}
                    {{ foo }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </td>
        </tr>
    {% endfor %}
{% endblock %}

{% block tfoot %}
    <tr>
        <th>N° leg</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Deslinde</th>
        <th>Apto físico vigente</th>
        <th>Factor sanguíneo</th>
        <th>Factores riesgo</th>
    </tr>
{% endblock %}